table {
    margin: 0px auto;
    padding:0px;
    border-collapse: collapse;
    /* border-spacing: 0px; */
}

td, tr {
    /* border-spacing: 0px; */
    border:2px solid;
    font-size: 12px;
    padding: 0px;
}

#create_atarikuji table, #create_atarikuji td, #create_atarikuji tr{
    border:none;
    text-align: left;
}

td.create_atarikuji {
    border:none;
}

tr.create_atarikuji {
    border:none;
}

.size_8px{
    font-size: 8px;
}

.color_grey {
    color: grey;
}

.color_red {
    color: red;
}

.kuji_num {
    margin:5px;
    border:1px solid;
    width:50px;
}

.title {
    width:400px;
    margin:5px;
    border:1px solid;
}

.pass {
    width:150px;
    margin:5px;
    border:1px solid;
}

.bulk {
    margin:5px;
    border:1px solid;    
}

.message {
    width:400px;
    margin:5px;
    border:1px solid;
}

.hazure_num {
    margin:5px;
    border:1px solid;
    width:50px;
}
.remainig_kuji {
    text-align: left;
}

.description {
    color:grey;
    font-size: 10px;
}

.display_off {
    display: none;
}

.text-red {
    color:red;
}