table {
    margin: 0px auto;
    padding:0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

td, tr {
    border-spacing: 0px;
    border:2px solid;
    font-size: 12px;
    padding: 0px;
}