body {
   background-color: #fafafa;
   /* align-items: center; */
}

.amida_all {
    max-width: 860px;
    min-width: 50px;
    margin-left: auto;
    margin-right: auto;

    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

table {
    width: 100%;
    table-layout: fixed;
    margin: 0px auto;
    padding:0px;
    border: none;
    border-collapse: collapse;
    border-spacing: 0px;
}

td {
    border-spacing: 0px;
    border-right:4px solid;
    border-left:4px solid;
    text-align: center;
    padding: 0px;
    /* width:40px; */
    height:40px;

    max-width:100px;
}

/* #amida_table tr, td, th {
    border: none;    
} */

#amida_head table{
    margin: 0px auto;
    padding:0;
    border-style:none;
    border-collapse: separate;
    border-spacing: 0px;    
}

#amida_head tr {
    margin: 0px;
    padding:0;
    border-spacing: 0px;
    border-style:none;
    text-align:center ;
    /* width:40px; */
    height:25px;

    max-width:100px;
}

#amida_head td, th {
    margin: 0px;
    padding:0;
    border-spacing: 0px;
    border-style:none;
    text-align:center ;
    /* width:40px; */
    height:40px;
    align-items: center;

    max-width:100px;
}

#amida_bottom table{
    margin: 0px auto;
    padding:0;
    border-style:none;
    border-collapse: separate;
    border-spacing: 0px;    
}

#amida_bottom tr {
    margin: 0px;
    padding:0;
    border-spacing: 0px;
    border-style:none;
    text-align:center ;
    /* width:40px; */
    height:25px;
}

#amida_bottom td, th {
    margin: 0px;
    padding:0;
    border-spacing: 0px;
    border-style:none;
    text-align:center ;
    /* width:40px; */
    height:25px;

    max-width:100px;
}

td img {
    vertical-align: top;
}

#side {
    border: none;
}

.align-center{
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-items: center;
}

.space {
    height:40px;
}

.title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
}

.amida_body{
    position: relative;
}

.top-black{
    border-top:4px solid;
}

.border-left-red{
    border-left:4px solid red;
}

.border-right-red{
    border-right:4px solid red;
}

.border-top-red{
    border-top:4px solid red;
}

/* .icon {
    width:auto;
    height:auto;
    max-width:50%;
    max-height:50%;
    cursor: pointer;
} */

.icon {
    margin-left: auto;
    margin-right: auto;
    width:34px;
    height:auto;
    /* max-width:50%;
    max-height:50%; */
    cursor: pointer;
    color: #fff;
    background: #668ad8;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
}

.player {
    width:auto;
    height:auto;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
}

.bottom {
    width:auto;
    height:auto;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
}

.message_header {
    width:40ch;
    text-align: center;
    align-items: center; 
}

.message_icon {
    max-width:5%;
    max-height:5%;
}

.message {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    white-space: pre-wrap;
    display: inline-block;
    align-items: center;
    width:60ch;
    border:1px solid;
    border-color: #000000;
}

.message_area {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
}

.inline-block{
    display: inline-block;
}

.center{
    text-align: center;
}

.margin-left-10{
    margin-left: 10px;
}

.parent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_red{
    color: red;
}

.description_area{
    text-align: center;
    border:3px solid;
    border-radius: 20px;
    width:60ch;
}

.link{
    text-decoration: underline;
    color: blue;
}

.error{
    color: red;
}

.url {
    border:1px solid;
    width:400px;
}

.copy_button{
    cursor: pointer;
    color: #fff;
    background: blue;
    border-radius: 4px;
    font-size: 10px;
    text-align: center;
}

#copy_message {
    font-size:12px;
}

.margin20{
    margin: 20px;
}